.input:focus {
}

.input {
    position: absolute;
    width: 372px;
    height: 36px;
}

.inputWrapper {
}

.superInput {
}

.errorInput {
    border-radius: 3px;
    border: 1px solid red;
    color: red;
}

.errorInput:focus {
}

.error {

    color: red;
}
